/* Make PrimeReact input fields light gray and rounded */
.p-inputtext{
  background-color: #eee !important;
  color: #000 !important;
  border: none !important;
  padding: 1rem !important;
  width: 100%;
 
}
.p-inputgroup
{
    justify-content: space-between;
}



/* Optional: Remove box-shadow/focus ring */
.p-inputtext:focus,
.p-inputtextarea:focus {
  box-shadow: none !important;
  outline: 2px solid #000 !important;
}

.text-4xl
{
    font-size: 3rem !important;
}