#root {
  max-width: 100%;
  font-family: "Geologica", serif !important;
}

.flex-equal {
  flex: 1 1 50%;
}

.p-component {
  font-family: "Geologica", serif;
}

.p-menubar {
  justify-content: space-between;
  background: none;
  border: none;
  padding: 0 50px;
}

.p-card,
.p-panel .p-panel-header,
.p-panel-content {
  background: #00000079;
}

.hero-section {
  width: 100%;
  height: 450px;
  background: url("./assets/herosec.jpg") no-repeat center center/cover;
}

.hero-overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8); /*can be anything, of course*/
}

.main-section {
  padding: 15px 50px;
}

.works-img img {
  width: 100%;
  height: 100%;
}

.panel-header {
  padding: 0 20px;
  border: 1px solid #424b57;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.pp-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pp-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
